<h1>Editing shoppinglist</h1>

<%= render 'form' %>

<div style="display: table-cell;"> <%= button_to 'Show', @shoppinglist, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Back', shoppinglists_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>
