<h1>New shoppinglist</h1>

<%= render 'form' %>

<br />

<div style="display: table-cell;"> <%= button_to 'Back', :back, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>
