<h1>New article</h1>
<hr />
<hr />

<%= render 'form' %>

<div style="display: table-cell;"> <%= button_to 'All articles', articles_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>

